@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()}



if (User.IsInRole("Admin"))
{
<a class="dropdown-item l-nav_link" href="javascript:document.getElementById('logoutForm').submit()"> <span class="iconify" data-icon="grommet-icons:user-admin" data-inline="false"></span> <span class="l-nav_name">Logout</span> </a>
}
else
{
    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
}

}
else
{
<div class="d-flex flex-row">
    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-white mr-2" })
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "RegisterLink", @class = "text-white" })
</div>

}
