@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
@section Scripts {
   
    @*fixed footer*@
    <script>
        $("footer").addClass("fixed-bottom")
    </script>
}